body {
  margin: 0px;
}

/* .test {
} */

.anchor {
  anchor-name: --myAnchor;
}

.infoBox {
  position-anchor: --myAnchor;
  position: absolute;
  left: anchor(10%);
  top: anchor(120%);
  margin-left: 10px;
}
