<!-- https://habr.com/ru/articles/964180/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Components - Slider</title>
    <link rel="stylesheet" href="./app.css" />
    <link rel="stylesheet" href="./slider.css" />
  </head>

  <body>
    <slider-component class="slider">
      <template shadowrootmode="open">
        <link rel="stylesheet" href="./slider.css" />

        <div
          class="navigation-control navigation-control__left"
          tabindex="0"
          data-control="prev"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            height="1em"
            width="1em"
          >
            <path d="M642-48 209-480l433-432 103 103-329 329 329 329L642-48Z" />
          </svg>
        </div>
        <div
          class="navigation-control navigation-control__right"
          tabindex="0"
          data-control="next"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 -960 960 960"
            width="1em"
          >
            <path d="M321-48 218-151l329-329-329-329 103-103 432 432L321-48Z" />
          </svg>
        </div>
        <slot class="slides" data-id="slides"></slot>
      </template>

      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
      <div class="slider__item" data-id="slider-item"></div>
    </slider-component>
  </body>

  <script>
    class SliderComponent extends HTMLElement {
      constructor() {
        super();
        this.slidesEl = this.shadowRoot.querySelector("[data-id=slides]");
      }

      get deltaX() {
        return 100;
        return this.hasAttribute("delta-x")
          ? Number(this.getAttribute("delta-x"))
          : 100;
      }

      connectedCallback() {
        // логика клика по компоненты
        this.shadowRoot.addEventListener("click", (e) => {
          const { target } = e;
          const controlEl = target.closest("[data-control]");
          if (!controlEl) {
            return;
          }
          const { control } = controlEl.dataset;
          if (control === "next") {
            this.#handleNext();
          } else if (control === "prev") {
            this.#handlePrev();
          } else {
            console.error("Invalid control value");
          }
        });
      }

      // логика прокрутки
      #handleNext() {
        this.slidesEl.scrollTo({
          behavior: "smooth",
          left: this.slidesEl.scrollLeft + this.deltaX,
        });
      }

      #handlePrev() {
        this.slidesEl.scrollTo({
          behavior: "smooth",
          left: this.slidesEl.scrollLeft - this.deltaX,
        });
      }
    }

    customElements.define("slider-component", SliderComponent);
  </script>
</html>
